.savingsWrapper {
	display: grid;
	grid-template-columns: 30% 70%;
	column-gap: var(--padding);
	padding: var(--padding) 0;
}

.savingsBody {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: var(--padding);
	padding: var(--padding);
}

.savingsBody a {
	font-size: 14px;
	padding: var(--padding);
	color: #000;
	text-transform: capitalize;
	border-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: cubic-bezier(0.3, 0.3, 1, 0.3);
}

.savingsBody a.active {
	border-radius: 0;
	border-bottom: 1px solid var(--primary-color);
}

.savingsFormBody {
}

@media (max-width: 640px) {
	.savingsWrapper {
		grid-template-columns: repeat(1, 1fr);
	}

	.savingsBody {
		grid-template-columns: repeat(5, 1fr);
		padding: 10px;
		overflow-x: scroll;
	}

	.savingsBody a {
		padding-bottom: 10px;
		font-size: 10px;
		width: 120px;
	}

	.savingsBody a.active {
		border-bottom: 1px solid var(--primary-color);
	}
}
