.savingsContainer {
	display: grid;
	grid-template-columns: 45% 55%;
	gap: var(--padding);
	padding: var(--padding) 0;
}

.savingsBody {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.savingsBody a {
	font-size: 16px;
	padding: var(--padding);
	color: #000;
	height: 60px;
	text-transform: capitalize;
	border-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: cubic-bezier(0.3, 0.3, 1, 0.3);
}

.savingsBody a:focus {
	color: #fff;
}

.savingsBody a.active {
	background: var(--primary-color);
}

.savingsFormBody {
}
