.savingsContainer {
	display: grid;
	grid-template-columns: 40% 60%;
	gap: var(--padding);
	padding: var(--padding) 0;
	width: 100%;
}

.savingsBody {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--padding);
	padding: var(--padding);
}

.savingsBody a {
	font-size: 16px;
	padding: var(--padding);
	color: #000;
	height: 60px;
	text-transform: capitalize;
	border-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: cubic-bezier(0.3, 0.3, 1, 0.3);
}

.savingsBody a:focus {
	color: #fff;
}

.savingsBody a.active {
	background: var(--primary-color);
}

.savingsFormBody {
}

@media (max-width: 640px) {
	.savingsContainer {
		grid-template-columns: repeat(1, 1fr);
	}

	.savingsBody {
		grid-template-columns: repeat(5, 1fr);
		padding: 10px;
		overflow-x: scroll;
	}

	.savingsBody a {
		font-size: 10px;
		height: 40px;
	}
}
