.accountContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.accountBody {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	gap: 20px;
}

.accountBody a {
	font-size: 20px;
	padding: 20px;
	color: #000;
	font-weight: 600;
	border-radius: 7px 7px 0 0;
}

.accountBody a.active {
	background: var(--primary-color);
}

.accountFormBody {
}
