.accountContainer {
	position: relative;
	width: 100%;
}

.profileHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profileHeader img {
	height: 50px;
	cursor: pointer;
}

@media (max-width: 640px) {
	.profileHeader img {
		height: 30px;
	}
}
