.right h3 {
	color: var(--primary-color);
}

.information {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	padding: 20px 0;
}

.savingsCard,
.investCard,
.dollarCard,
.nairaCard {
	display: flex;
	height: 100px;
	border-radius: 7px 7px 0 0;
	background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
	align-items: center;
	color: #fff;
	padding: var(--padding);
	font-size: 12px;
	box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
}

.information i {
	font-size: 30px;
	margin-right: 20px;
}

.information p {
	font-size: 12px;
	font-weight: 600;
	color: #fff;
}

.information h3 {
	font-size: 20px;
	color: #fff;
}

.naira {
	font-weight: 600;
}

.todoWrapper {
	padding: var(--padding);
}

.todoWrapper h4 {
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.6);
}

.todoBody {
	display: grid;
	grid-template-rows: repeat(1, 1fr);
	row-gap: 20px;
}

.todoBody div {
	border: 1px solid rgba(0, 0, 0, 0.4);
	padding: 20px;
	border-radius: 5px 5px 0 0;
}

@media (max-width: 640px) {
	.information {
		grid-template-columns: repeat(2, 1fr);
		padding: 5px;
	}

	.savingsCard,
	.investCard,
	.dollarCard,
	.nairaCard {
		height: 60px;
		width: 90px;
		border-radius: 5px 5px 0 0;
		padding: 10px;
		font-size: 10px;
	}

	.information i {
		font-size: 15px;
		margin-right: 5px;
	}

	.information p {
		font-size: 10px;
	}

	.information h3 {
		font-size: 12px;
	}

	.todoWrapper {
		padding: 10px;
	}

	.todoBody {
		row-gap: 10px;
	}

	.todoBody div {
		padding: 10px;
		border-radius: 3px 3px 0 0;
	}
}
