:root {
	--primary-color: #0ea851;
	--padding: 20px;
	--mediaPad: 10px;
}

a {
	display: flex;
	text-decoration: none;
	align-items: center;
	justify-content: center;
}

h3,
p {
	margin: 0;
	padding: 0;
}

p {
	color: rgba(0, 0, 0, 0.5);
	font-size: 14px;
}

.rc-container {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #fff;
	display: flex;
	color: #000000;
}

.header {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#sidebar {
	position: relative;
	background: #373b53;
	z-index: 2;
	width: 60px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#logoHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 60px;
	background-color: var(--primary-color);
}

#logoHeader a {
	color: #fff;
	font-size: 14px;
	text-align: center;
}

#logo img {
	height: 40px;
}

/* .logoHeader a::after {
	content: 'Royal Cooperative';
} */

/* .logoHeader img {
	height: 30px;
	margin-right: var(--padding);
} */

.links {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	padding-inline-start: 0;
	padding: 0 var(--mediaPad);
	align-items: center;
	justify-content: center;
}

.links a {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
	/* color: rgba(150, 156, 186, 0.2); */
	color: #969cba;
	text-decoration: none;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 600;
	transition: cubic-bezier(0.3, 0.5, 0.3, 1);
}

.links a:nth-child(5) {
	border-top: 1px solid #494e67;
}

/* .links ul {
	list-style-type: none;
	display: none;
} */

.settings {
	position: absolute;
	bottom: 0;
}

/* #accountList li {
	font-size: 14px;
} */

.links a:hover {
	color: #fff;
}

.links i {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	color: #969cba;
}

.links a:hover > i {
	background: #ffffff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	border-radius: 50%;
	color: var(--primary-color);
}

/* .links a:nth-child(4):hover {
	background-color: #fff;
} */

/* .links li:nth-child(4) a {
	color: #000;
}
.links li:nth-child(4) a:hover {
	background-color: #fff;
} */

.links a.active {
	color: #fff;
}

.links a.active > i {
	background-color: #ffffff;
	border-radius: 50%;
}

.links a.active > i {
	color: var(--primary-color);
	/* border: 2px solid #713bdb; */
}

.right {
	width: 100%;
	overflow-y: auto;
	background-color: #dfe1eb;
}

.rightHeader {
	display: flex;
	align-items: center;
	height: 60px;
	background-color: #ffffff;
	padding: 0 15px;
}

.rightHeader .searchbar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 300px;
}

.rightHeader input[type='search'] {
	outline: 0;
	border: 0;
	padding: 30px;
	font-size: 14px;
	background: url('./img/search.png');
	background-repeat: no-repeat;
	background-position: center left 10px;
}

.accountHeader {
	display: flex;
	justify-content: flex-end;
	width: 200px;
}

.accountProfile {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}

#caption h4 {
	font-size: 10px;
	width: 50px;
}

#caption p {
	font-size: 8px;
}

#caption > h4,
p {
	margin: 0;
}

.accountProfile img {
	height: 30px;
}

.accountProfile i {
	color: #c9ced6;
	margin-left: 5px;
}

.others {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-left: var(--mediaPad);
	width: 40%;
}

.notifications,
.logout {
	width: 15px;
	height: 15px;
	margin: 0 5px;
}

.notifications {
	background: url('./img/bell.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.logout {
	background: url('./img/logout.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.content {
	padding: var(--padding);
}

@media (max-width: 640px) {
	p {
		font-size: 10px;
	}

	#logoHeader {
		padding: var(--mediaPad);
		height: 40px;
	}

	#logoHeader a {
		font-size: 18px;
		width: 100px;
	}

	/* .logoHeader a::after {
		content: 'RoyalCo-op';
	} */

	#logo img {
		height: 25px;
		margin-right: var(--mediaPad);
	}

	.links a {
		font-size: 14px;
	}

	.links ul {
		padding-left: var(--mediaPad);
	}

	#accountList li {
		font-size: 12px;
	}

	.rightHeader {
		height: 40px;
		padding: 0 10px;
	}

	.rightHeader .searchbar {
		width: 180px;
	}

	.rightHeader input[type='search'] {
		font-size: 10px;
		padding: 20px;
		width: 120px;
		background-position: center left 5px;
	}

	.accountHeader {
		width: 150px;
	}

	#caption h4 {
		font-size: 8px;
		width: 40px;
	}

	#caption p {
		font-size: 6px;
	}

	.accountProfile img {
		height: 20px;
	}

	.notifications,
	.logout {
		width: 10px;
		height: 10px;
		padding: 0 2px;
	}

	.content {
		padding: var(--mediaPad);
	}
}
